<h1> Please Sign In</h1>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
  <input type="text" value="" name="user[username]">Username</input>
  <input type="password" value="" name="user[password]">Password</input>
  <button type="submit" value="Sign In">Sign In</button>
</form>


<%=link_to "Create account", new_user_url %>
