<h1> Please Sign In</h1>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
  <input type="text" value="" name="user[username]">Username</input><br>
  <input type="password" value="" name="user[password]">Password</input><br>
  <button class="log_button" type="submit" value="Sign In">Sign In</button>
</form>
<p>
</p>


<%=link_to "Create account", new_user_url %>
