/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h3, h4,
h1, h2, p, li, ul, div, a, header, figure {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: arial, sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: 100px;
  background: rgba(243,243,243,0.85);

}

.current_user {
  float:right;
  bottom: 15px;
}

nav {
  width: auto;
  height: 20px;
  padding: 20px;
  margin: auto;
  background: rgba(243,243,243,0.85);
}

.bottom-nav {
  background: white;
  border-bottom: 1px solid lightgray;
  height: 10px;
}

.search {
  display: block;
  float: left;
  width: 500px;
}

.search  > ul {
  position: absolute;
  margin-top: 30.5px;
  display: block;
  width: 350px;
  height: auto;
  background: white;
  padding-left: 5px;
  padding-top: 5px;
  list-style: none;
  z-index: 1;
}

.search > ul > li {
  padding-left: 5px;
  padding-top: 5px;
}

.search > ul > li > a {
  display: block;
  width: 100%;
}

.search > ul > li:last-child {
  padding-bottom: 5px;
}


.search  > ul > li:hover {
  background: lightgray;
  border-left: 2px solid #4d90fe;
}

.search-input {
  position: relative;
  width: 350px;
  height: 25px;
  display: block;
  margin: auto;
  float: left;
}

.search-input:focus {
  outline: none;
  border: 1px solid #4d90fe;
}

.searchSubmit {
  text-decoration: none;
  display: block;
  float: left;
  color: white;
  font-size: 14px;
  width: 15%;
  height: 30px;
  background: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 3px;
  padding-left: 5px;
  margin-left: 10px;
}

.detail-view-list-item {
  padding: 10px;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}


nav > h1 {
  width: 140px;
  font-size: 36px;
  color: darkgray;
  float: left;
  padding-right: 60px;
}

nav > h2 {
  font-size: 18px;
  color: darkgray;
  float: left;
  padding-right: 60px;
}

nav > h3 {
  float: left;
  width: 100px;
  height: auto;
  display: block;
  color: gray;
  padding-left: 150px;

}

.signout {
  float: right;
  color: #427fed;
}


 button.log_button {
   color: white;
   font-size: 14px;
   width: 274px;
   height: 36px;
   background: #4d90fe;
   border: 1px solid #3079ed;
   border-radius: 3px;
   padding-left: 5px;
   background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
 }

 button.log_button:hover {
  border: 1px solid #2f5bb7;
  background: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
 }

 .errors {
   color: red;
   font-size: 16px;
 }

 .sign-header {
  font-size: 18px;
  font-family: 'Open Sans', arial;
  color: #555;
  text-align: center;
  margin-top: 150px;
  -webkit-font-smoothing: antialiased;

 }

.enter_form {
  height: 300px;
  width: 274px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  padding: 40px;
  background: #F7F7F7;
  border: 2px inset solid gray;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.sign_in_input {
  width: 270px;
  font-size: 16px;
  height: 44px;
  padding: 0px, 10px;
  margin-bottom: 10px;
}
.email-index {
  display: block;
  margin: auto;
  width: 90%;
}

.emails-index {
  position: fixed;
  width: 80%;
  right: 5px;
  left: 100px;
  display: block;
  float: left;
  margin: auto;
  margin-top: 10px;
}

.emails-index > ul {
  position: relative;
}

.email-list-item {
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;

}

.email-list-item.expanded {
  background: white;
  border: none;
}

.email-name.index-item {
  padding-right: 0px;
  width: auto;
}

.email-senders-email {
  float: left;
  margin-top: 10px;
  font-weight: normal;
  padding-left: 3px;
  
}


.email-details {
  background: white;
  border: none;
  cursor: default;
  font-weight: normal;
}


.email-details > h4 {
  margin-left: 60px;
}

.email-details > p {
  margin-left: 67px;
}

.email-recipient {
  color: #777;
  margin-top: -10px;
  margin-left: 7px;
}

.profile-pic {
  background-image: image-url("sprites/profile_default.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 32px;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  background-color: #cccccc;
}

.conversation-title {
  font-size: 1.3em;
  margin-left: 10px;
}

.star_button{
  float:left;

  background-image: image-url("sprites/unstarred.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 31px;
  background-color: inherit;
  display: block;
  width: 18px;
  height: 0;
  padding-top: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: background-position 0.5s;
  border: none;
  outline: none;
}

button.trash_button {
  float: right;
}

button.reply_button {
  float: right;
}


.star_button.starred {

  background: yellow;
  background-image: image-url("sprites/starred.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 26px;
  background-color: inherit;
  display: block;
  width: 18px;
  height: 0;
  padding-top: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: background-position 0.5s;

}


.important_button {
  float:left;

  background-image: image-url("sprites/unimportant.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 24px;
  background-color: inherit;
  display: block;
  width: 18px;
  height: 0;
  padding-top: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: background-position 0.5s;
  border: none;
  outline: none;

}

.important_button.important {
  float:left;

  background-image: image-url("sprites/important.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 24px;
  background-color: inherit;
  display: block;
  width: 18px;
  height: 0;
  padding-top: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: background-position 0.5s;
  border: none;
  outline: none;

}

.inbox-row {
  padding: 1px;
  display: block;
  border-bottom: thin solid gray;
  font-size: 12px;
  background: white;
  cursor: pointer;
}

.emails-index > ul > .inbox-row:first-child {
  border-top: thin solid gray;
}

.inbox-row.read {
  background: rgba(243,243,243,0.85);
}

.compose-button {
  background: #d14836;
  border-radius: 2px;
  border: thin solid #d14836;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 30px;
}

.sidebar {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 200px;
  padding-left: 10px;
  display: block;
  padding-bottom: 20px;
}


.contacts {
  display: block;
  margin-left: 5px;
}

.contact-index-item {
  display: block;
  margin-top: 5px;
}


.contact-name {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-list {
  padding-top: 10px;
  list-style: none;
}

.sidebar-list > li {
  padding-bottom: 10px;
  font-size: 14px;
  display: block;
  width: 100px;
  height: 15px;
  line-height: 1.8;

}

.sidebar-list > li:last-child {
  margin-bottom: 30px
}

.sidebar-list > li:hover {
  background: rgba(243,243,243,0.85);
}

.arrows-container {
  float: right;
  margin-right: 150px;
  margin-top: -9px;

}

.arrow-container {
  background: rgba(243,243,243,0.85);
  width: 36px;
  height: 29px;
  border: 1px solid rgba(0,0,0,0.1);
}

.arrow-container.right:hover {
  .arrow-button.right {
    opacity: 1;
  }
}

.arrow-container.left:hover {
  .arrow-button.left {
    opacity: 1;
  }
}

.arrow-button {
  background-image: image-url("sprites/arrow_n_trash_icons.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 21px;
  height: 21px;
  opacity: .55;
}

.right {
  background-position: -42px -21px;
  border-left: none;
}

.left {
  background-position: -21px -21px;
}

.email-form {
  position: fixed;
  bottom: 0px;
  right: 15px;
  height: 400px;
  width: 400px;
  border: thin solid gray;
  background: white;
}

.email-reply-form {
  margin-top: 50px;

  display: block;
  width: 100%;
  padding: 20px;
  min-height: 200px;
  border-top: thin solid gray;
}

.email-reply-form > form > input {
  width: 99%;
  border: thin solid gray;


}

.email-reply-form > form > button {
  margin-top: 5%;
  margin-left: 5px;
  color: white;
  font-size: 14px;
  width: 5%;
  height: 30px;
  background: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 5px;

}

.email-reply-form textarea {
  margin-top: 30px;
  width: 99%;
  height: 130px;
  resize: none;
}


.email-form > form > input {
  width: 99%;
  border-right: none;
  border-left: none;
  border-top: thin solid gray;
  border-bottom: thin solid gray;
}

.email-form > form > input:focus {
  outline: none;
}


.email-form-body-input {
  height: 250px;
}

.email-form textarea {
  width: 395px;
  height: 260px;
  resize: none;
}

.email-form > label {
  color: white;
  font-size: 80%;
  display: block;
  background: #333333;
  border-bottom: thin solid gray;
  padding: 5px;
  max-width: 400px;
  height: auto;
}

.email-form > label > button {
  color: gray;
  background: transparent;
  border: none;
  font-size: 80%;
  display: block;
  float: right;
}

.email-name {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  padding-right: 50px;
  width: 150px;
  white-space: nowrap;
}

.email-subject {
  float: left;
  margin-top: 10px;
  padding-right: 5px;
}

.email-body-preview {
  white-space: nowrap;
  float: left;
  display: block;
  margin-top: 10px;
  font-weight: lighter;
}

.email-body.unexpanded {
  margin-top: 18px;
  margin-left: 67px;
  white-space: nowrap;
  display: block;
  font-weight: lighter;
}



.email-date {
  white-space: nowrap;
  float: right;
  display: block;
  margin-right: 20px;
  margin-top: 10px;
}

.date {
  float: right;
  margin-right: 25px;
  margin-top: 10px;
  font-weight: normal;
}

.email-form > form > button {
  margin-top: 5%;
  margin-left: 5px;
  color: white;
  font-size: 14px;
  width: 20%;
  height: 30px;
  background: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 3px;
  padding-left: 5px;

}
